@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    Background: linear-gradient(120deg, #7209b7 0%, #4CC9F0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.presentation img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #FFF;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name h1 {
    color: #FFF;
    font-size: 50px;
    text-align: center;
}

.name h3 {
    color: #FFF;
    font-weight: 400;
    letter-spacing: 9.75px;
    text-align: center;
    margin-left: 11px;
    font-size: 17px;
}

.about {
    color: #FFF;
    margin-top: 30px;
    text-align: center;
    width: 80%;
}

.about code {
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    color:#7209b7;
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
}

.about p {
    margin-top: 15px;
    width: 100%;
}

.social-medias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.social-medias div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    padding: 0 10px;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    width: 150px;
    justify-content: center;
}

.social-medias a {
    color: #FFF;
    text-decoration: none;
}

.social-medias div:hover {
    cursor: pointer;
    border: 2px solid #FFF;
}

hr {
    width: 70%;
    margin-top: 40px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 90%;
}

.projects-section h2 {
    color: #FFF;
    font-size: 25px;
    margin-bottom: 40px;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 3px solid #FFF;
    border-radius: 10px;
    max-width: 550px;
    width: 95%;
    padding: 20px;
}

.project h3 {
    color: #FFF;
    text-align: center;
}

.project p {
    color: #FFF;
    max-width: 500px;
}

.project p strong {
    font-weight: 600;
}

.project img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.project a {
    color: #FFF;
}

@media screen and (max-width: 700px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .name h1 {
        font-size: 45px;
    }

    .name h3 {
        font-size: 13.5px;
    }

    .project img {
        width: 300px;
    }
}